<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackQuizz - Home</title>
    <link rel="icon" href="/images/quiz.ico" sizes="32x32" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/generalStyle.css}">
    <link rel="stylesheet" th:href="@{/admin-home.css}">
</head>
<body>

<main>
    <nav class="navbar">
       <a href="/HackQuizz/user">User management</a>
        <a href="/HackQuizz/quizManagement">Quiz / Question management</a>
        <a href="/HackQuizz/logout">Logout</a>
    </nav>
</main>
<footer>
    <p>HackQuizz © 2025</p>
</footer>

</body>
</html>
