<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackQuizz - Home</title>
    <link rel="stylesheet" th:href="@{/home.css}">
    <link rel="stylesheet" th:href="@{/generalStyle.css}">

</head>
<body>

<header>
    <nav>
        <a href="/logout" th:href="@{/HackQuizz/logout}">Logout</a>

    </nav>
</header>
<h1 th:text="'Welcome, ' + ${currentUser.getUsername()}"> </h1>

<main>
    <a th:each="topic : ${listOfTopics}" th:id="'quiz-link-' + ${topic.generalQuizTopic}" class="quiz-link" th:href="@{/HackQuizz/Quiz/{topic}(topic=${topic.generalQuizTopic})}">
        <div  class="quiz-container">
            <h2 th:text="${topic.generalQuizTopic}"></h2>
            <p th:text="'Modules completed: ' + ${topic.completedNumberOfModules}"></p>
            <p th:text="'Total modules: ' + ${topic.totalNumberOfModules}"></p>
            <p>Completion Percentage:
                <span th:text="${#numbers.formatDecimal((topic.completedNumberOfModules * 100) / topic.totalNumberOfModules, 0, 0)}"></span>%
            </p>


        </div>
    </a>
</main>


<footer>
    <p>HackQuizz © 2025</p>
</footer>

</body>
</html>
