<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackQuizz - [[${language}]] </title>
    <link rel="stylesheet" th:href="@{/language.css}">
    <link rel="stylesheet" th:href="@{/generalStyle.css}">
</head>
<body>
<header>
    <nav>
        <a href="/HackQuizz/home">Home</a>
        <a href="/HackQuizz/logout">Logout</a>
    </nav>
</header>
<p>To unlock further quizzes, please complete the previous ones successfully.</p>
<p>Please do not leave quiz while answering first question, or you will be log out.</p>
<main>
    <!-- This method is used for generating modules depending on current progress -->
    <a th:each="i : ${#numbers.sequence(0, progress.getCompletedNumberOfModules())}" th:href="@{/HackQuizz/Quiz/start/{id}(id=${quizzes.get(i).getId()})}" th:text="${quizzes.get(i).getQuizName()}"></a>

</main>
<footer>
    <p>HackQuizz © 2025</p>
</footer>

</body>
</html>
