<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign in</title>
    <link rel="icon" href="/images/quiz.ico" sizes="32x32" type="image/x-icon"/>
    <link th:href="@{/generalStyle.css}" rel="stylesheet" />
    <link th:href="@{/login.css}" rel="stylesheet" />
</head>
<body>

    <form class="login-form" method="post" th:action="@{/HackQuizz/login}" style="margin-top:200px;">
        <p class="content">
        <div class="error-message">
            <p th:if="${param.error}">
                Invalid username or password. Please try again.
            </p>
        </div>
        <h2>Please sign in</h2>


        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </p>

        <button type="submit" class="primary">Sign in</button>
    </form>


    <footer style="margin-top: 400px;">
        <p>HackQuizz © 2025</p>
    </footer>

</body>
</html>