<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackQuizz - Quiz Management</title>
    <link rel="icon" href="/images/quiz.ico" sizes="32x32" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/generalStyle.css}">
    <link rel="stylesheet" th:href="@{/admin-home.css}">
</head>
<body>

<main>
    <nav class="navbar">
        <a href="/HackQuizz/admin-home">Back</a>
        <a href="/HackQuizz/newQuestion">Add new question</a>
        <a href="/HackQuizz/deleteQuestion">Delete question</a>
        <a href="/HackQuizz/viewAllQuestions">View all questions</a>
        <a href="/HackQuizz/logout">Logout</a>
    </nav>
</main>
<footer>
    <p>HackQuizz © 2025</p>
</footer>

</body>
</html>
