<!DOCTYPE html>
<html>
<head>
    <title>Session Warning</title>
</head>
<body style="height:800px;display: flex; flex-direction: column; align-items: center; justify-content: center;background-color: #4C5958">
    <p style="color:whitesmoke;">Your session got invalidated due to leaving quiz earlier, please log in again.</p>
    <a style="text-align:center; width:200px;border-radius: 50px; text-decoration: none; color:whitesmoke;background-color: #10403B;padding:20px;cursor:pointer;" href="/HackQuizz/login" id="logout">Log out</a>
</body>
</html>
