<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackQuizz - User Management</title>

    <link rel="stylesheet" th:href="@{/generalStyle.css}">
    <link rel="stylesheet" th:href="@{/admin-home.css}">
</head>
<body>

<main>
    <nav class="navbar">
        <a href="/HackQuizz/admin-home">Back</a>
        <a href="/HackQuizz/register">Register new user</a>
        <a href="/HackQuizz/showUsers">Show all users</a>
        <a href="/HackQuizz/updateUser">Update user credentials</a>
        <a href="/HackQuizz/deleteUser">Delete user</a>
        <a href="/HackQuizz/logout">Logout</a>
    </nav>
</main>
<footer>
    <p>HackQuizz © 2025</p>
</footer>

</body>
</html>
