<!-- src/main/resources/templates/error/403.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access Denied</title>
    <link rel="icon" href="/images/quiz.ico" sizes="32x32" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/generalStyle.css}">
    <link rel="stylesheet" th:href="@{/error.css}">
</head>
<body>
<main>
    <h1>403 - Access Denied</h1>
    <p>You do not have permission to access this page.</p>
    <a th:href="@{/HackQuizz/logout}">Return to Home</a>
</main>
</body>
</html>