
h1{
    margin-top: 40px;
    text-align: center;
    color: whitesmoke;

}


main {
    padding: 20px;
    margin: 20px;
    height: 735px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.quiz-link{
    text-decoration: none;
    color: #2f2f2f;
    padding: 20px;
    margin: 40px 60px;
    align-content: center;
    justify-content: center;
    background-color: #101010;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 300px;
    height: 200px;
}
#quiz-link-Python{
    background-image: url('/images/python-logo.png');
}
#quiz-link-Java{
    background-image: url('/images/java-logo.png');
}
.quiz-container {
    animation : slideBack 1s ease-in forwards;
}
.quiz-container{
    padding: 20px;
    margin: 20px 20px;
    align-content: center;
    justify-content: center;
    background-color: #10403B;
    background-size: 200px 150px;
    background-position: top;
    border-radius: 10px;
    border: 5px solid #10403B;
    color:whitesmoke;
    text-align: center;
    width: 300px;
    height: 200px;
    cursor: pointer;


}
.quiz-container:hover {
    animation: slideForward 1s ease-in forwards;
}



@keyframes slideBack {
    0% {
        transform: translateX(0) translateY(90px);
    }
    12.5% {
        transform: translateX(0) translateY(70px);
    }
    25% {
        transform: translateX(0) translateY(50px);
    }
    37.5% {
        transform: translateX(0) translateY(30px);
    }
    50% {
        transform: translateX(0) translateY(0);
    }
    62.5% {
        transform: translateX(-15px) translateY(-15px);
    }
    75% {
        transform: translateX(-25px) translateY(-25px);
    }
    87.5% {
        transform: translateX(-35px) translateY(-35px);
    }
    100% {
        transform: translateX(-45px) translateY(-45px);
    }

}
@keyframes slideForward {
    0% {
        transform: translateX(-45px) translateY(-45px);
    }
    12.5% {
        transform: translateX(-35px) translateY(-35px);
    }
    25% {
        transform: translateX(-25px) translateY(-25px);
    }
    37.5% {
        transform: translateX(-15px) translateY(-15px);
    }
    50% {
        transform: translateX(0) translateY(0);
    }
    62.5% {
        transform: translateX(0) translateY(30px);
    }
    75% {
        transform: translateX(0) translateY(50px);
    }
    87.5% {
        transform: translateX(0) translateY(70px);
    }
    100% {
        transform: translateX(0) translateY(90px);
    }
}