*{
    margin: 0;
    padding: 0;
    box-decoration-break: clone;
    font-family: sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

}

main {
    padding: 20px;
    margin: 20px;
    height: 600px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main a{
    background-color: #10403B;
    border-radius: 50px;
    padding:20px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 200px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #f4f4f4;
}
main a:hover{
    background-color: #f4f4f4;
    color: #10403B;
}
p{
    margin-top: 20px;
    font-size: 16px;
    color:whitesmoke;
    text-align: center;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}