body{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;

}
button {
    width: 105%;
    padding: 12px;
    background-color: #10403B;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
}

button:hover {
    background-color: whitesmoke;
    color: #10403B;
}
main{
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 450px;
    margin-bottom: 60px;

}
p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    height: 30px;
    width: 350px;
    text-align: center;
}
select {
    font-size: 18px;
    padding: 10px;
    width: 225px;
    height: 50px;
    margin-bottom: 30px;
    text-align: center;
}
footer{
    margin :50px auto;
}